@import '_variables';

.main-survey {
  display: flex;
  height: 100%;
}

.questions-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;

  h2 {
    width: 100%;
    margin-bottom: 2 * $vspace;
  }

  .question-tracker {
    color: $gray-700;
    font-style: italic;
    margin: 0 0 5px 0;
    padding: 20px 20px 0 20px;
  }

  .navigation {
    display: flex;
    justify-content: flex-start;
    padding: 5px 20px 10px 20px;
    margin-top: 2 * $vspace;

    button {
      margin-right: 2 * $hspace;
    }
  }
}

.question-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  color: $gray-650;
  min-height: 440px;
  padding: 0 20px 20px 20px;

  h1, h2, h3, h4, h5 {
    color: $orange;
  }

  h5 {
    font-style: italic;
  }

  button[type='submit'] {
    margin-top: 2 * $vspace;
  }

  .multiple-choice-question-wrapper,
  .single-choice-question-wrapper {
    width: 100%;

    input {
      margin-right: $hspace;
    }

    .form-option {
      margin: $vspace 0;
    }
  }

  .range-choice-question-wrapper {
    .form-range {
      display: flex;
      justify-content: space-between;
      margin: 2 * $vspace 0;
    }
    button {
      border: 1px solid $gray-650;
      color: $main-dark;
    }
  }

  .text-choice-question-wrapper {
    textarea {
      border: 1px solid $orange;
    }
  }

  .response-confirmation {
    margin-top: $vspace;
    color: $main-white;
    font-family: $main-display-font;
  }
}
