@import '_variables';

.main-survey {
  display: flex;
  height: 100%;
}

.questions-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  padding: 2 * $vspace;
  border: 1px solid $gray-600;

  h2 {
    width: 100%;
    margin-bottom: 2 * $vspace;
  }

  p {
    margin: 0 5px 5px 0;
    background-color: $gray-700;
    color: $gray-200;
    font-style: italic;
    padding: $vspace;
  }

  .navigation {
    display: flex;
    justify-content: space-between;
    background-color: $gray-500;
    padding: $vspace / 2;
  }
}

@import '_variables';

.question-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px;
  border: 1px dashed $gray-500;
  background-color: #ddecdb;

  button[type='submit'] {
    margin-top: 2 * $vspace;
  }

  .multiple-choice-question-wrapper,
  .single-choice-question-wrapper {
    width: 100%;

    input {
      margin-right: $hspace;
    }

    .form-option {
      margin: $vspace 0;
    }
  }

  .range-choice-question-wrapper {
    .form-range {
      display: flex;
      justify-content: space-between;
    }
  }
}
